$cl-yellow-hover: #f5d33b;
$cl-yellow: #F5AD3B; 
$cl-darkGray: #4D4D4D;
$cl-gray: #B0B1B1;
$cl-grayText: #4E4D4D;
$cl-softGray: #B0B1B1;
$cl-red: #BE2E2D;
$cl-success: #43AD4B;
$cl-white: #FFFFFF;
$cl-black: #000000;
$cl-gray-benefits: #E6E6E6;
$cl-grayStar: #747474;