@import '../common/common.scss';

.AuthorPresentation {
  position: relative;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  background-color: $cl-black;
  color: $cl-white;
  min-height: 25rem;
  justify-content: space-evenly;
  &_Image {
    position: relative;
    min-width: 9rem;
    min-height: 9rem;
  }
  &_Author {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    min-width: 35rem;
  }
  &_Greeting {
    color: $cl-yellow;
    margin: 1rem 1rem;
  }
  &_Presentation {
    font-size: 2.1rem;
    margin: .5rem 0;
    min-width: 25rem;
    text-align: center;
  }
  &_Message {
    width: 35%;
    font-size: 1.5rem;
    text-align: center;
    min-width: 20rem;
  }
  &_Submessage {
    text-align: center;
    margin: .5rem 0;
    font-size: 1.5rem;
    font-family: $avenirDemi;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 4rem 0;
    &_Author {
      flex-direction: column;
      max-width: 90%;
    }
    &_Greeting {
      max-width: 85%;
    }
    &_Presentation {
      font-size: 1.7rem;
    }
    &_Submessage {
      font-size: 1.5rem;
    }
    &_Message {
      font-size: 1.2rem;
      max-width: 85%;
    }
  }
}
