@import '../common/common.scss';

.ConfigField {
  display: flex;
  width: 60%;
  margin: .5rem 0;
  align-items: center;
  justify-content: space-between;
  &_Multi {
    flex-direction: column;
    gap: 1rem;
  }
  &_TextInput {
    padding: .5rem .8rem;
    border-radius: 8px;
    border: 1px solid $cl-black;
    font-family: inherit;
    min-width: 18rem;
    margin-right: 1rem;
  }
  &_FileInput {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    min-width: 18rem;
    margin-right: 1rem;
    padding: .5rem .8rem;
    &::-webkit-file-upload-button {
      font-family: inherit;
      cursor: pointer;
      border: 1px solid $cl-black;
      border-radius: 5px;
      background-color: $cl-gray-benefits;
      padding: .2rem .5rem;
      &:hover {
        background-color: $cl-gray;
      }
    }
  }
  &_Label {
    width: 15rem;
    display: flex;
    align-items: center;
  }
  &_Wrapper {
    display: flex;
  }
  &_MultiWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &_Button {
    font-weight: bold;
  }
  &_Error {
    color: $cl-red;
    font-size: .8rem;
  }
}