@import '../common/common.scss';

.ContactForm {
  background-image: url('/img/contacto.png');
  background-size: cover;
  flex-direction: column;
  color: $cl-white;
  min-height: 36rem;
  &_Title {
    font-size: 1.3rem;
  }
  &_Message {
    font-size: 1.3rem;
    width: 60%;
    text-align: center;
  }
  &_Form {
    width: 35%;
    min-width: 25rem;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    padding: 2rem 2rem;
    &_Title {
      text-align: center;
    }
    &_Message {
      width: 100%;
    }
    &_Form {
      width: 100%;
      box-sizing: border-box;
      min-width: 0;
    }
  }
}
