@import '../common/common.scss';

.Presentation {
  background-image: url('/img/portada.png');
  background-size: cover;
  min-height: 20rem;
  height: 100vh;
  @media screen and (max-width: $breakpoint-tablet) {
    background-size: cover;
    min-height: 0;
    height: 18rem;
  }
}